* {
    box-sizing: border-box;
  }
  
  .animacja {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: proba; /*w animation-name musimy podać tą samą nazwę która jest w @keyframes czyli "resize"*/
    animation-duration: 1s; /*czas trwania naszej animacji, musimy go podać*/
    visibility: hidden;
  }
  
  .czarny {
    background-color: black;
    position: relative;
    width: 600px;
    height: 300px;
  }
  
  .love {
    font-size: 100px;
  }
  
  @keyframes proba {
    0% {
      visibility: visible;
    }
  
    100% {
      visibility: hidden;
    }
  }
  
  .dziewiec {
    animation-delay: 1s;
  }
  
  .osiem {
    animation-delay: 2s;
  }
  
  .siedem {
    animation-delay: 3s;
  }
  
  .szesc {
    animation-delay: 4s;
  }
  
  .piec {
    animation-delay: 5s;
  }
  
  .cztery {
    animation-delay: 6s;
  }
  
  .trzy {
    animation-delay: 7s;
  }
  
  .dwa {
    animation-delay: 8s;
  }
  
  .jeden {
    animation-delay: 9s;
  }

  .css {
    animation-delay: 10s;
  }